/* remove this code and add your own! */

.card {
  background-color:#f28482;
}

h2{
  color: #f6bd60;
}
.list-group-item{ 
  background-color: #f7ede2;
}

body{
  background-color: #84a59d;
}
p{
  font-weight: 400;
} 